#panels-panel-context-edit-content div.clear-block {
  clear: both;
  padding-top: 1em;
}

/**
 * Admin borders
 */
.panels-flex960.container_12,
.panels-flex960.container_16 {
  border: 1px solid #ccc;
  background: url(admin-16-col.gif) repeat-y 0 0;
}
  .panels-flex960.container_12 {
    background-image: url(admin-12-col.gif);
  }

.panels-flex960-column {
  background: url(admin-shading.png);
}

.panels-flex960-row {
  margin-bottom: 10px;
}

/**
 * Admin UI
 */
.flex960-dropdown {
  background: #F4F4F4;
  border-bottom: 1px dashed #aaa;
}
  .flex960-dropdown-canvas {
    margin-bottom: 10px;
  }
  .flex960-dropdown a.ctools-dropdown-text-link {
    color: #333;
    font-size: smaller;
    font-weight: bold;
  }
